@font-face {
  font-family: "Bai Jamjuree";
  src: url("../fonts/bai-jamjuree-v11-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bai Jamjuree";
  src: url("../fonts/bai-jamjuree-v11-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  /* light mode */
  --light-bkg: hsl(0, 0%, 94%);
  --light-heading: hsl(192, 11%, 18%);
  --light-toggle-text: hsl(180, 100%, 14%);
  --light-primary: hsl(171, 66%, 44%);
  --light-primary-shadow: 0 0.5rem 0.5rem hsl(171, 66%, 44%, 0.5);
  --light-primary-border: hsl(171, 66%, 36%);
  --light-secondary: hsl(233, 100%, 72%);
  --light-secondary-shadow: 0 0.5rem 0.5rem hsl(233, 100%, 72%, 0.5);
  --light-secondary-border: hsl(233, 100%, 65%);
  --light-text: hsl(212, 10%, 26%);
  --light-link: hsl(210, 10%, 33%);
  --light-footer: hsl(220, 18%, 97%);

  /* dark mode */
  --dark-bkg: hsl(249, 11%, 12%);
  --dark-heading: hsl(0, 0%, 96%);
  --dark-toggle-text: hsl(186, 58%, 69%);
  --dark-primary: hsl(173, 25%, 55%);
  --dark-secondary: hsl(231, 61%, 78%);
  --dark-text: hsl(60, 4%, 95%);
  --dark-link: hsl(0, 0%, 88%);
  --dark-footer: hsl(240, 11%, 14%);


  --fs-body: 1.125rem;

  --fs-xs: 0.6875rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-md: 1.4375rem;

  --fs-h1: clamp(1.625rem, 1.2069rem + 1.784vw, 2.8125rem);
  --fs-h2: clamp(1.75rem, 1.596rem + 0.6573vw, 2.1875rem);


  --fw-regular: 400;
  --fw-semibold: 600;
  --ff-body: "Bai Jamjuree", sans-serif;

  --line-height: 1.7;

  --spacing-xs: 0.9375rem;
  --spacing-sm: 1.25rem;


  --spacing-header: 8.125rem 1.875rem 4.6875rem;
  --spacing-snippets: 4.6875rem 2.1875rem;
  --spacing-access: 4.6875rem 2.1875rem 0;
  --spacing-workflow: 4.375rem 2.1875rem;
  --spacing-clients: 5rem 2.1875rem;
  --spacing-download: 4.375rem 2.1875rem 9.375rem;
  --spacing-footer: 2.8125rem 2.1875rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --heading: var(--dark-heading);
    --bkg: var(--dark-bkg);
    --toggle-text: var(--dark-toggle-text);
    --primary: var(--dark-primary);
    --secondary: var(--dark-secondary);
    --text: var(--dark-text);
    --toggle-text: var(--dark-toggle-text);
    --link: var(--dark-link);
    --footer: var(--dark-footer);
  }
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --heading: var(--dark-heading);
  --bkg: var(--dark-bkg);
  --toggle-text: var(--dark-toggle-text);
  --primary: var(--dark-primary);
  --secondary: var(--dark-secondary);
  --text: var(--dark-text);
  --link: var(--dark-link);
  --footer: var(--dark-footer);
}

:root[data-theme="light"] {
  color-scheme: light;
  --heading: var(--light-heading);
  --bkg: var(--light-bkg);
  --toggle-text: var(--light-toggle-text);
  --primary: var(--light-primary);
  --primary-shadow: var(--light-primary-shadow);
  --primary-border: var(--light-primary-border);
  --secondary: var(--light-secondary);
  --secondary-shadow: var(--light-secondary-shadow);
  --secondary-border: var(--light-secondary-border);
  --text: var(--light-text);
  --link: var(--light-link);
  --footer: var(--light-footer);
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --heading: var(--light-heading);
    --bkg: var(--light-bkg);
    --toggle-text: var(--light-toggle-text);
    --primary: var(--light-primary);
    --primary-shadow: var(--light-primary-shadow);
    --primary-border: var(--light-primary-border);
    --secondary: var(--light-secondary);
    --secondary-shadow: var(--light-secondary-shadow);
    --secondary-border: var(--light-secondary-border);
    --text: var(--light-text);
    --link: var(--light-link);
    --footer: var(--light-footer);
  }
}

/* reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0
}

html {
  font-size: 100%;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-block-size: 100dvh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* sometimes referred to as .sr-only */
.visually-hidden:not(:focus):not(:active):not(:focus-within) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

*:focus-visible {
  outline: 2px dotted var(--primary);
  outline-offset: 5px;
}

/* general styles */
body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  text-align: center;
  background-color: var(--bkg);
}

a {
  text-decoration: none;
}

button,
select {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* typography */
:is(h1, h2, h3) {
  color: var(--heading)
}

:is(.header, .snippets, .access, .workflow, .download) > p {
  max-width: 60ch;
  margin-inline: auto;
  margin-block-end: 3.125rem;
}

h1 {
  font-size: var(--fs-h1);
  margin-block-end: var(--spacing-xs);
}

h2 {
  font-size: var(--fs-h2);
  margin-block-end: var(--spacing-sm);
}

p {
  font-size: var(--fs-base);
  color: var(--text);
  line-height: var(--line-height);
}

.header__image {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.header__logo {
  margin-inline: auto;
  margin-block-end: 3.75rem;
}

@media (prefers-color-scheme: dark) {
  .header__logo {
    filter: brightness(0) invert(1);
  }
}

:root[data-theme="dark"] .header__logo {
  filter: brightness(0) invert(1);
}

:root[data-theme="light"] .header__logo {
  filter: none;
}


.header__content {
  padding: var(--spacing-header);
}

.header__description {
  max-width: 43.125rem;
  margin-inline: auto;
  margin-block-end: 3.125rem;
}

.header__select-box {
  position: absolute;
  inset: 1rem 1rem auto auto;
}

.header__select-title {
  color: var(--toggle-text);
  font-weight: var(--fw-semibold);
  padding: .5rem .75rem;
  margin-block-end: .1rem;
}

.header__select {
  padding: .5rem .75rem;
  background-color: var(--primary);
  border-radius: .25rem;
}

/* button styles */
.btn__group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  --_clr-btn-text: hsl(60, 3%, 6%);
  font-weight: var(--fw-semibold);
  padding: 1em 2.125em;
  border-radius: 100vmax;
  color: var(--_clr-btn-text);
  letter-spacing: 0.0625rem;
  border-bottom: 0.25rem solid;
}

.btn-primary {
  background-color: var(--primary);
  box-shadow: var(--primary-shadow);
  border-color: var(--primary-border);
}

:root[data-theme="dark"] .btn {
  border-bottom: none;
}

:root[data-theme="light"] .btn {
  border-bottom: 0.25rem solid;
}

@media (prefers-color-scheme: dark) {
  .btn {
    border-bottom: none;
  }
}

:root[data-theme="light"] .btn-primary {
  border-color: var(--primary-border);
}

:root[data-theme="light"] .btn-secondary {
  border-color: var(--secondary-border);
}

.btn-secondary {
  background-color: var(--secondary);
  box-shadow: var(--secondary-shadow);
  border-color: var(--secondary-border);
}

:is(.btn-primary, .btn-secondary):is(:hover, :focus-visible) {
  opacity: 0.8;
}

/* section styles */
.snippets {
  padding: var(--spacing-snippets);
}

.snippets__image-box {
  margin-block-end: 4rem;
}

.snippets__image {
  margin-inline: auto;
}

.snippets__card:not(:last-child) {
  margin-block-end: 3.75rem;
}

.snippets__card h3 {
  margin-block-end: 1.5625rem;
}

.access {
  padding: var(--spacing-access);
}

.workflow {
  padding: var(--spacing-workflow);
}

.workflow__group {
  max-width: 79.375rem;
  margin-inline: auto;
  display: grid;
  gap: 3.0625rem;
}

.workflow__card h3 {
  margin-block-end: 2rem;
}

.workflow__card img {
  margin-block-end: 1rem;
  margin-inline: auto;
}

.clients {
  padding: var(--spacing-clients);
  display: grid;
  gap: 3.75rem 6.25rem;
  place-items: center;
}

.download {
  padding: var(--spacing-download);
}

/* footer styles */
.footer {
  padding: var(--spacing-footer);
  background-color: var(--footer);
}

.footer__logo {
  margin-inline: auto;
  margin-block-end: 2.4375rem;
}

.footer__list {
  display: grid;
  gap: 2rem;
  margin-block-end: 2.75rem;
}

.footer__link {
  color: var(--text);
}

.footer__link:is(:hover, :focus-visible) {
  color: var(--primary);
}

.social__list {
  display: flex;
  gap: 1.3125rem;
  justify-content: center;
  transition: 300ms ease-in-out;
}

.social__link i {
  font-size: 1.8rem;
  color: var(--link);
}

.social__link:is(:hover, :focus-visible) i {
  color: var(--primary);
}

.back-to-top {
  --_scroll-duration: 300ms ease-in-out;
  --_clr-top-icon: hsl(60, 3%, 6%);
  position: fixed;
  inset: auto 1.875rem 1.25rem auto;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--primary);
  display: grid;
  place-content: center;
  z-index: 5;
  color: var(--_clr-top-icon);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--_scroll-duration);
}

.back-to-top.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

/* media queries */
@media (width >=48em) {
  .btn__group {
    flex-direction: row;
    justify-content: center;
  }

  :is(.clients, .footer__list) {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width >=75em) {
  :root {
    --spacing-snippets: 0;
    --spacing-footer: 2.8125rem 10rem;
  }

  .snpippets__inner {
    display: flex;
    gap: 5rem;
  }

  .snippets__image-box {
    width: 50%;
    overflow: hidden;
  }

  .snippets__image-box img {
    width: 105%;
    height: auto;
    transform: translateX(-5%);
  }

  .snippets__group {
    text-align: start;
    margin-block-start: 5.125rem;
  }

  .snippets__card:not(:last-child) {
    margin-block-end: 4.3125rem;
  }

  .snippets__group p {
    max-width: 21.875rem;
  }

  .snippets__card p {
    line-height: 2;
  }

  .workflow__card p {
    font-size: 1.1rem;
  }

  .access__image {
    margin-inline: auto;
  }

  .workflow__group {
    grid-template-columns: repeat(auto-fill, minmax(21.875rem, 1fr));
  }

  .clients {
    grid-template-columns: repeat(5, 1fr);
    max-width: 75rem;
    margin-inline: auto;
  }

  .footer {
    display: grid;
    grid-template-columns: minmax(9.375rem, 1fr) 4fr minmax(10.625rem, 1fr);
  }

  .footer .header__logo {
    margin-block-end: 0;
  }

  .footer__list {
    max-width: 31.25rem;
    gap: 1.25rem 4.375rem;
    margin-block-end: 0;
  }

  .social__list {
    align-self: center;
  }

}